<div style="background-color:transparent;">
  <div
      style="Margin: 0 auto;min-width: 320px;max-width: 500px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;"
      class="block-grid ">
    <div style="border-collapse: collapse;display: table;width: 100%;background-color:transparent;">
      <!--[if (mso)|(IE)]>
      <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td style="background-color:transparent;" align="center">
            <table cellpadding="0" cellspacing="0" border="0" style="width: 500px;">
              <tr class="layout-full-width" style="background-color:transparent;"><![endif]-->

      <!--[if (mso)|(IE)]>
      <td align="center" width="500"
          style=" width:500px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;"
          valign="top"><![endif]-->
      <div class="col num12" style="min-width: 320px;max-width: 500px;display: table-cell;vertical-align: top;">
        <div style="background-color: transparent; width: 100% !important;">
          <!--[if (!mso)&(!IE)]><!-->
          <div
              style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;">
            <!--<![endif]-->


            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="divider "
                   style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
              <tbody>
              <tr style="vertical-align: top">
                <td class="divider_inner"
                    style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                  <table class="divider_content" height="0px" align="center" border="0" cellpadding="0" cellspacing="0"
                         width="100%"
                         style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                    <tbody>
                    <tr style="vertical-align: top">
                      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                        <span>&nbsp;</span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>


            <div class="">
              <!--[if mso]>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
              <![endif]-->
              <div
                  style="color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                <div
                    style="font-size:12px;line-height:14px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#555555;text-align:left;">
                  <p style="margin: 0;font-size: 17px;line-height: 20px"><strong><span
                      style="font-size: 16px; line-height: 19px;"><span style="line-height: 19px; font-size: 16px;"><a
                      style="color:#0068A5;text-decoration: underline;" href="[link]" target="_blank" rel="noopener">[taskName]</a></span></span></strong>
                  </p></div>
              </div>
              <!--[if mso]></td></tr></table><![endif]-->
            </div>


            <div class="">
              <!--[if mso]>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
              <![endif]-->
              <div
                  style="color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                <div
                    style="font-size:12px;line-height:14px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#555555;text-align:left;">
                  <p style="margin: 0;font-size: 14px;line-height: 17px"><em>Kommentaar: [taskDescription]</em></p>
                </div>
              </div>
              <!--[if mso]></td></tr></table><![endif]-->
            </div>


            <div class="">
              <!--[if mso]>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
              <![endif]-->
              <div
                  style="color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                <div
                    style="line-height:14px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#555555;text-align:left;">
                  <p style="margin: 0;line-height: 14px;font-size: 12px"><span
                      style="font-size: 14px; line-height: 16px;"><strong>Oodatav tegevuse tähtaeg: </strong><strong style="[dueDateColor];">[dueDate]</strong></span>
                  </p></div>
              </div>
              <!--[if mso]></td></tr></table><![endif]-->
            </div>


            <div class="">
              <!--[if mso]>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
              <![endif]-->
              <div
                  style="color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                <div
                    style="font-size:12px;line-height:14px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#555555;text-align:left;">
                  <p style="margin: 0;font-size: 14px;line-height: 17px">Saatja: [sender]</p></div>
              </div>
              <!--[if mso]></td></tr></table><![endif]-->
            </div>


            <div class="">
              <!--[if mso]>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
              <![endif]-->
              <div
                  style="color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                <div
                    style="font-size:12px;line-height:14px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:#555555;text-align:left;">
                  <p style="margin: 0;font-size: 14px;line-height: 17px"><span
                      style="font-size: 14px; line-height: 16px;">Saaja: [taskAssignee]</span></p></div>
              </div>
              <!--[if mso]></td></tr></table><![endif]-->
            </div>


            <div class="">
              <!--[if mso]>
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
              <![endif]-->
              <div
                  style="color:#555555;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height:120%; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
                <div
                    style="line-height:14px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#555555;text-align:left;">
                  <p style="margin: 0;line-height: 17px;font-size: 14px"><span
                      style="font-size: 14px; line-height: 16px;">Dokumendi nimetus:&nbsp;<strong> <a
                      style="color:#0068A5;text-decoration: underline;" href="[link]" target="_blank" rel="noopener">[documentName]</a></strong></span>
                  </p></div>
              </div>
              <!--[if mso]></td></tr></table><![endif]-->
            </div>


            <div align="center" class="button-container center "
                 style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;">
              <!--[if mso]>
              <table width="100%" cellpadding="0" cellspacing="0" border="0"
                     style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                <tr>
                  <td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;"
                      align="center">
                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word"
                                 href="[link]" style="height:31pt; v-text-anchor:middle; width:109pt;" arcsize="10%"
                                 strokecolor="#9C1B50" fillcolor="#9C1B50">
                      <w:anchorlock/>
                      <v:textbox inset="0,0,0,0">
                        <center
                            style="color:#ffffff; font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:16px;">
              <![endif]-->
              <a href="[link]" target="_blank"
                 style="display: block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #ffffff; background-color: #9C1B50; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 146px; width: 106px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;mso-border-alt: none">
                <span
                    style="font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;line-height:32px;">Ava ülesanne</span>
              </a>
              <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]-->
            </div>


            <!--[if (!mso)&(!IE)]><!--></div><!--<![endif]-->
        </div>
      </div>
      <!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->
    </div>
  </div>
</div>